<div class="shadow-xl w-[35vw] h-[75vh] mx-auto mt-8 border border-stone-200 rounded-lg flex flex-col items-center p-4">
    <img src="/assets/logo.ico" class="w-[150px] h-[150px]" alt="">
    <h1 class="text-[40px] font-semibold">Registro</h1>

    <form (ngSubmit)="onSubmit()" class=" mt-8 flex flex-col items-left">
      <div class="mb-3 flex flex-col">
        <label for="username" class="text-base font-medium">Nombre de usuario<span class="text-red-600"> *</span></label>
        <input type="text" [(ngModel)]="username" name="username" id="username" class="border border-stone-200 px-2 w-[250px] rounded-xs" placeholder="beat-onUser" required>
      </div>

      <div class="mb-3 flex flex-col">
        <label for="email" class="text-base font-medium">Correo Electrónico<span class="text-red-600"> *</span></label>
        <input type="text" [(ngModel)]="email" name="email" id="email" class="border border-stone-200 px-2 w-[250px] rounded-xs" placeholder="beat@onmail.com" required>
      </div>

      <div class="flex flex-col">
        <label for="password" class="text-base font-medium">Contraseña<span class="text-red-600"> *</span></label>
        <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="••••••••" class="border border-stone-200 px-2 w-[250px] rounded-xs" required>
      </div>
      <button type="submit" class="bg-stone-950 text-neutral-100 p-1 mt-6 w-[120px] rounded-sm">Iniciar sesión</button>
    </form>
</div>
