<div class="mx-auto my-6 w-[90%] max-w-2xl h-auto border border-stone-200 dark:border-neutral-800 rounded-2xl shadow-xl">
  <div class="flex flex-col p-6 items-center">

    <!-- Imagen de perfil centrada -->
    <img [src]="environment.apiUrl + '/uploads/' + usuario.avatar?.path"
         alt="Foto de perfil" 
         class="w-28 h-28 rounded-full object-cover mb-5 border border-stone-300 shadow-md dark:border-neutral-800" />

    <form (ngSubmit)="actualizarPerfil()" class="flex flex-col items-center w-full">
      <h2 class="text-5xl inter-font mb-5 dark:text-neutral-100">Mi perfil</h2>

      <div class="mb-5 flex flex-col w-full max-w-xs">
        <label class="text-base font-medium mb-1 dark:text-neutral-100">Nombre de usuario: <span class="text-red-500">*</span></label>
        <input [(ngModel)]="usuario.username" name="username" class="dark:text-gray-300 dark:border-neutral-800 border border-stone-200 px-2 py-1 rounded-xs" type="text" />
      </div>
      
      <div class="mb-5 flex flex-col w-full max-w-xs">
        <label class="text-base font-medium mb-1 dark:text-neutral-100">Correo electrónico: <span class="text-red-500">*</span></label>
        <input [(ngModel)]="usuario.email" name="email" type="email" class="dark:text-gray-300 dark:border-neutral-800 border border-stone-200 px-2 py-1 rounded-xs" />
      </div>

      <!-- Select para elegir avatar -->
      <div class="mb-5 flex flex-col w-full max-w-xs items-center"> <!-- items-center para centrar -->
        <label class="text-base font-medium mb-1 self-start dark:text-neutral-100">Avatar:</label> <!-- self-start para que el label quede alineado a la izquierda -->

        <select [(ngModel)]="usuario.avatar" name="avatar" class="dark:text-gray-500 dark:border-neutral-800 border border-stone-200 px-2 py-1 rounded-xs w-full max-w-xs">
          <option *ngFor="let avatar of avatars" [ngValue]="avatar">
            Avatar {{ avatar.id }}
          </option>
        </select>

        <div *ngIf="usuario.avatar?.path" class="mt-2 flex justify-center w-full">
          <img [src]="environment.apiUrl + '/uploads/' + usuario.avatar?.path" alt="Avatar seleccionado"
              class="w-20 h-20 mt-2 rounded-full object-cover border border-stone-300 shadow-md dark:border-neutral-800" />
        </div>
      </div>

      <button type="submit" class="my-2 border-2 border-emerald-500 text-emerald-500 px-3 py-1 rounded hover:bg-emerald-500 hover:text-white">
        Actualizar perfil
      </button>
    </form>

    <div class="delete-account mt-4 w-full max-w-xs">
      <button (click)="deleteMode = !deleteMode"
              class="border-2 border-red-500 text-red-500 px-3 py-1 rounded hover:bg-red-500 hover:text-white w-full">
        {{ deleteMode ? 'Cancelar eliminación' : 'Eliminar cuenta' }}
      </button>

      <div *ngIf="deleteMode" class="mt-2">
        <label class="block text-sm font-medium text-stone-700 mb-1">Introduce tu contraseña para confirmar:</label>
        <input type="password" [(ngModel)]="deletePassword" name="deletePassword"
               class="w-full border border-stone-300 rounded-md px-3 py-2 mb-3 focus:outline-none focus:ring-2 focus:ring-red-400" />
        
        <button (click)="eliminarCuenta()"
                class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition-colors w-full">
          Confirmar eliminación
        </button>
      </div>
    </div>

  </div>
</div>