<div class="p-5 w-[90%] h-full mx-auto flex flex-col">
  <form #form="ngForm" (ngSubmit)="updateInstrumental()" class="rounded-lg space-y-6">
    
    <div class="flex flex-row justify-between items-center border-b-2 border-gray-200 pb-4">
      
      <div class="flex flex-row border-b-2 border-gray-400 focus-within:border-stone-600 w-full max-w-2xl">
        <input id="instName" [(ngModel)]="instName" name="instName" type="text"
               class="text-5xl font-semibold bg-transparent focus:outline-none text-stone-950 placeholder-stone-400 w-full dark:text-neutral-100"
               placeholder="Nombre del instrumental" required />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-18 h-18 dark:text-neutral-100 text-stone-950">
          <polygon points="3 21 4 16.5 17.5 3 18.5 3 21 5.5 21 6.5 7.5 20 3 21" fill="none" stroke="currentColor" stroke-miterlimit="10"/>
          <line x1="15.5" y1="4.5" x2="19.5" y2="8.5" fill="none" stroke="currentColor" stroke-miterlimit="10"/>
        </svg>
      </div>

      <div class="flex gap-4">
        <button type="button" (click)="deleteInstrumental()"
                class="border border-red-500 text-red-500 px-3 py-1 rounded hover:bg-red-500 hover:text-white flex flex-row items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5 fill-current">
            <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
          </svg>
          Eliminar
        </button>
      </div>
    </div>

    <div class="flex flex-col w-full mt-8">
      <label class="text-stone-950 font-semibold mb-3 text-2xl dark:text-neutral-100">Portada:</label>
      <div class="flex flex-col md:flex-row gap-6 items-start">
      
        <div *ngIf="currentCoverUrl" class="relative group">
          <img [src]="currentCoverUrl" alt="Portada actual" class="w-64 h-64 object-cover rounded-lg shadow-md">
          <button type="button" (click)="removeCover()"
                  class="absolute top-2 right-2 bg-red-500 text-white rounded-full p-2 opacity-0 group-hover:opacity-100 transition-opacity">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 fill-current">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
            </svg>
          </button>
        </div>

        <div class="relative w-full max-w-full sm:max-w-md flex-1 px-2 sm:px-0">
          <input id="coverFile" type="file" (change)="onFileSelected($event)" accept="image/*"
                class="absolute inset-0 w-full h-full opacity-0 cursor-pointer z-10" />
          
          <div class="p-4 sm:p-5 rounded-lg border-2 border-dashed border-zinc-400 dark:border-zinc-600 flex items-center justify-between bg-zinc-100 dark:bg-zinc-800 hover:bg-zinc-200 dark:hover:bg-zinc-700 h-48 sm:h-64">
            <div class="text-center w-full">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  class="text-zinc-500 dark:text-zinc-400 h-10 w-10 sm:h-12 sm:w-12 mx-auto mb-2 sm:mb-3">
                <path fill="currentColor" d="M19 13a1 1 0 0 0-1 1v.38l-1.48-1.48a2.79 2.79 0 0 0-3.93 0l-.7.7-2.48-2.49a2.87 2.87 0 0 0-3.93 0L4 12.6V7a1 1 0 0 1 1-1h7a1 1 0 0 0 0-2H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-5a1 1 0 0 0-1-1zM5 20a1 1 0 0 1-1-1v-3.57l2.9-2.89a.79.79 0 0 1 1.09 0l3.17 3.17L15.45 20zm13-1a.89.89 0 0 1-.18.53L13.31 15l.7-.7a.78.78 0 0 1 1.1 0L18 17.22zm3-13a1 1 0 0 0-1-1h-3a1 1 0 0 0 0 2h3a1 1 0 0 0 1-1z"/>
              </svg>

              <span class="truncate text-zinc-600 dark:text-zinc-300 font-medium text-base sm:text-lg block">
                {{ coverFile ? coverFile.name : 'Arrastra una imagen o haz clic para seleccionar' }}
              </span>
              
              <p class="text-zinc-500 dark:text-zinc-400 text-xs sm:text-sm mt-1 sm:mt-2">
                Recomendado: 1000x1000 px, formato JPG o PNG
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap items-center justify-between gap-4 mt-8 mb-6 p-4 bg-zinc-100 rounded-lg dark:bg-stone-900">
      <div class="flex flex-col md:flex-row items-start md:items-center gap-4">

        <div class="flex items-center gap-3">
          <label for="bpm" class="text-stone-950 font-semibold text-xl dark:text-neutral-100">BPM:</label>
          <select id="bpm" [(ngModel)]="bpm" name="bpm" (change)="onBpmChange()"
                  class="p-2 rounded-lg bg-zinc-800 text-white border-none focus:ring-2 focus:ring-green-500">
            <option *ngFor="let option of bpmOptions" [value]="option">{{ option }}</option>
          </select>
        </div>  


        <div class="flex items-center gap-3 md:ml-6">
          <label class="relative inline-flex cursor-pointer">
            <input type="checkbox" [(ngModel)]="public" name="public" class="sr-only peer">
            <div class="w-11 h-6 bg-zinc-400 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-green-600"></div>
            <span class="ml-3 text-stone-950 font-medium dark:text-neutral-100">Público</span>
          </label>
        </div>
      </div>


      <button type="button" (click)="togglePlay()"
              class="px-8 py-3 border border-emerald-500 text-emerald-500 py-1 rounded hover:bg-emerald-500 hover:text-white flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 fill-current">
          <path *ngIf="!isPlaying" d="M8 5v14l11-7z"/>
          <path *ngIf="isPlaying" d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/>
        </svg>
        {{ isPlaying ? 'Detener' : 'Reproducir' }}
      </button>
    </div>


    <div class="w-full bg-stone-900 p-6 rounded-lg space-y-6 shadow-lg">
      <div *ngFor="let row of rows; let rowIndex = index" class="row mb-8 last:mb-0">

        <div class="flex flex-col sm:flex-row sm:items-center mb-4 gap-4">

          <div class="flex items-center gap-3 min-w-[200px]">
            <div class="rounded-full flex-shrink-0 overflow-hidden flex items-center justify-center"
              [style.backgroundColor]="row.category.color"
              [title]="row.category.name"
              style="width: 50px; height: 50px;">
              <img [src]="`${environment.apiUrl}/uploads/` + row.category.iconUrl"
                  alt="Icono"
                  class="w-20 h-20 object-contain">
            </div>
            <span class="text-white font-semibold text-lg">{{ row.category.name }}</span>
          </div>


          <select [(ngModel)]="row.selectedSound" class="flex-grow p-2 rounded bg-zinc-800 text-white border border-zinc-700"
                  [ngModelOptions]="{ standalone: true }">
            <option [ngValue]="null">-- Seleccionar sonido --</option>
            <option *ngFor="let sound of row.sounds" [ngValue]="sound">
              {{ sound.name }}
            </option>
          </select>
        </div>


        <div class="grid grid-cols-12 gap-2 mt-2">
          <button type="button" class="h-14 rounded text-white transition-all relative"
                  *ngFor="let step of row.steps; let colIndex = index"
                  [style.backgroundColor]="step.active ? row.category.color : ''"
                  [class.bg-zinc-800]="!step.active"
                  [class.ring-2]="colIndex === currentStep && isPlaying"
                  [class.ring-yellow-400]="colIndex === currentStep && isPlaying"
                  (click)="toggleStep(rowIndex, colIndex)">
          </button>
        </div>
      </div>
    </div>


    <div class="flex justify-end gap-4 mt-8">
      <button type="button" (click)="volver()"
              class="px-6 py-2 px-8 py-3 border border-gray-500 text-gray-500 py-1 rounded hover:bg-gray-500 hover:text-white flex items-center gap-2">
        Cancelar
      </button>
      <button type="submit" [disabled]="!form.valid"
              class="px-8 py-3 px-8 py-3 border border-emerald-500 text-emerald-500 py-1 rounded hover:bg-emerald-500 hover:text-white flex items-center gap-2 flex items-center gap-2 dark:disabled:bg-neutral-700 dark:disabled:text-neutral-400 dark:disabled:border-neutral-600 disabled:bg-gray-200 disabled:text-gray-400 disabled:border-gray-300 disabled:cursor-not-allowed">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 fill-current">
          <path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
        </svg>
        Guardar Cambios
      </button>
    </div>
    </form>
</div>