<h1 class="p-4 text-3xl md:text-[64px] font-semibold ml-3">Mis instrumentales</h1>

<div *ngIf="MyInstrumentals.length > 0; else noData" class="flex flex-wrap justify-center gap-6 px-4">
  <div *ngFor="let inst of MyInstrumentals" class="bg-white shadow-md rounded-xl p-4 flex gap-1 h-48 w-112 mx-auto">
    <img [src]="environment.apiUrl + '/uploads/' + inst.coverUrl"
         alt="Portada"
         class="w-40 h-40 rounded-xl object-cover border" />

    <div class="ml-3 flex flex-col min-w-0">
      <h3 class="text-2xl font-medium truncate">{{ inst.instName }}</h3>
      <p class="text-sm text-gray-500 mt-1">BPM: {{ inst.bpm }}</p>
    </div>

    <div class="flex flex-col items-center justify-around h-full ml-auto">
      <button (click)="togglePublic(inst)" class="w-6 h-6">
        <svg *ngIf="!inst.public" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-stone-950">
          <rect x="3.5" y="10.5" width="17" height="11" fill="none" stroke="currentColor" stroke-width="1.5"/>
          <line x1="12" y1="14.5" x2="12" y2="17" fill="none" stroke="currentColor" stroke-width="1.5"/>
          <path d="M18,10.5V8A6,6,0,0,0,6,8v2.5" fill="none" stroke="currentColor" stroke-width="1.5"/>
        </svg>
        <svg *ngIf="inst.public" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-zinc-400">
          <rect x="3.5" y="11" width="17" height="11" fill="none" stroke="currentColor" stroke-width="1.5"/>
          <line x1="12" y1="15" x2="12" y2="17.5" fill="none" stroke="currentColor" stroke-width="1.5"/>
          <path d="M18,11V7.5a6,6,0,0,0-12,0" fill="none" stroke="currentColor" stroke-width="1.5"/>
        </svg>
      </button>

      <button (click)="goToSequencer(inst.id)" class="w-12 h-12 p-2 bg-black text-white rounded-full text-sm">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-stone-200">
          <polygon points="5.2 12 5.2 3 13 7.5 20.8 12 13 16.5 5.2 21 5.2 12" fill="currentColor" stroke="currentColor" stroke-width="1.5"/>
        </svg>
      </button>
    </div>
  </div>
</div>

<ng-template #noData>
  <p class="text-gray-500 text-center mt-10">No tienes instrumentales aún.</p>
</ng-template>
