<div class="shadow-xl  w-[95%] md:w-[80vw] h-[75vh] mx-auto mt-8 border border-stone-200 rounded-lg flex flex-col lg:flex-row items-center p-4 gap-[5%]">
  <div class="w-[80%] h-[90%] lg:w-[60%] rounded-md lg:px-10 lg:py-5">
    <h1 class="mt-15 md:mt-0 text-5xl font-semibold">Iniciar Sesión</h1>
    <form (ngSubmit)="onSubmit()" class=" mt-8 flex flex-col items-left">
      <div class="mb-5 flex flex-col">
        <label for="username" class="text-base font-medium mb-1">Nombre de usuario<span class="text-red-600"> *</span></label>
        <input type="text" [(ngModel)]="username" name="username" id="email" class="border border-stone-200 px-2 py-1 w-[250px] rounded-xs" placeholder="beat-onUser" required>
      </div>
      <div class="flex flex-col">
        <label for="password" class="text-base font-medium mb-1">Contraseña<span class="text-red-600"> *</span></label>
        <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="••••••••" class="border border-stone-200 px-2 py-1 w-[250px] rounded-xs" required>
      </div>
      <button type="submit" class="bg-stone-950 text-neutral-100 p-1 mt-6 w-[120px] rounded-sm">Iniciar sesión</button>
    </form>

    <div class="flex items-center justify-center my-4 lg:w-[400px]">
      <hr class="flex-grow border-t border-stone-950">
      <span class="mx-4 text-stone-950">O</span>
      <hr class="flex-grow border-t border-stone-950">
    </div>

    <h1 class="mt-1 text-zinc-400"> ¿Necesitas una cuenta? <a routerLink="/register" class="text-stone-950">Registarse</a></h1>
  </div>
  <div class="hidden lg:flex bg-[#FDD142] w-[20%] lg:h-[100%] lg:w-[40%] rounded-md justify-center items-center">
    <img src="assets/Logo-var-1.png" alt="" class="w-96 h-96">
  </div>
</div>

<!--

-->