<footer class="bg-black text-neutral-200 px-6 py-10 text-sm">
  <div class="max-w-7xl mx-auto flex flex-col md:grid md:grid-cols-4 gap-6 items-start">

    <div class="flex flex-col gap-4 order-4 md:order-1 h-full justify-between">
      <span class="text-base font-medium">Beat-On © 2025</span>
      <div class="flex gap-4 md:gap-2">
        <a href="#"><i class="fab fa-tiktok"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="flex flex-col gap-1 order-1 md:order-2">
      <h3 class="font-semibold mb-2">Información</h3>
      <a href="#" class="text-zic-400">Información Legal</a>
      <a href="#" class="text-zic-400">Nuestro equipo</a>
      <a href="#" class="text-zic-400">Términos y Condiciones</a>
    </div>

    <div class="flex flex-col gap-1 order-2 md:order-3">
      <h3 class="font-semibold mb-2">Contacto</h3>
      <a href="#" class="text-zic-400">Correo de información</a>
      <a href="#" class="text-zic-400">Atención al cliente</a>
      <a href="#" class="text-zic-400">Ideas de negocio</a>
    </div>

    <div class="flex flex-col gap-1 order-3 md:order-4">
      <h3 class="font-semibold mb-2">Recursos</h3>
      <a href="#" class="text-zic-400">Eliminar mi cuenta</a>
      <a href="#" class="text-zic-400">Recuperar la contraseña</a>
      <a href="#" class="text-zic-400">Empezar a crear</a>
    </div>

  </div>
</footer>