<div class="mt-3 bg-stone-300 mx-auto w-[90vw] flex flex-col p-1">
    <h1 class="text-[64px] inter-font font-bold text-stone-950">¡Bienvenido a Beat-On!</h1>
    <h2 class="text-2xl inter-font text-stone-950 mt-5 w-[80%]">Beat-On es la aplicación ideal para crear y compartir instrumentales. <br>
        Explora los trabajos de nuestros usuarios y recoge inspiración para tus creaciones.
    </h2>

    <button class="text-2xl inter-font text-neutral-100 bg-stone-950 mt-10 px-[32px] py-[20px] w-[160px] rounded-lg">Explorar</button>
    <img class="mt-10 rounded-2xl" src="assets/Banner-1-proyecto.png" alt="banner">

    <h1 class="text-5xl inter-font font-bold text-stone-950 mt-[150px] mb-8">Qué puedes hacer con nosotros.</h1>
    <div class="flex flex-row justify-between">
        <div class="bg-red-500 w-[30%]">
            <div class="bg-stone-950 rounded-lg"></div>
        </div>
        <div class="bg-green-500 w-[30%]">
            <div class="bg-stone-950 rounded-lg"></div>
        </div>
        <div class="bg-blue-500 w-[30%]">
            <div class="bg-stone-950 rounded-lg"></div>
        </div>
    </div>
</div>