<div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6 text-center">Crear / Actualizar Usuarios</h1>

    <form (ngSubmit)="guardarUsuario()">
        <!-- Username -->
        <div class="mb-4">
            <label for="username" class="block text-gray-700 font-medium">Username</label>
            <input type="text" id="username" [(ngModel)]="usuario.username" name="username"
                class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:border-blue-400"
                placeholder="Introduce el nombre de usuario" required>
        </div>

        <!-- Email -->
        <div class="mb-4">
            <label for="email" class="block text-gray-700 font-medium">Email <span class="text-red-500">*</span></label>
            <input type="email" id="email" [(ngModel)]="usuario.email" name="email"
                class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:border-blue-400"
                placeholder="correo@ejemplo.com" required>
        </div>

        <!-- Contraseña (solo en modo 'create') -->
        <div class="mb-4" *ngIf="mode === 'create'">
            <label for="password" class="block text-gray-700 font-medium">Contraseña</label>
            <input type="password" id="password" [(ngModel)]="usuario.password" name="password"
                class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:border-blue-400"
                placeholder="Introduce la contraseña" required>
        </div>

        <!-- Activado -->
        <div class="mb-4 flex items-center">
            <label for="activated" class="text-gray-700 font-medium">Activado</label>
            <input type="checkbox" id="activated" [(ngModel)]="usuario.enabled" name="enabled"
                class="ml-4 h-6 w-6 text-blue-600 focus:ring focus:border-blue-400">
        </div>

        <!-- Rol -->
        <div class="mb-4">
            <label class="block text-gray-700 font-medium">Rol</label>
            <select [(ngModel)]="usuario.roles[0].id" name="roles"
                class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:ring focus:border-blue-400">
                <option *ngFor="let rol of rolesDisponibles" [value]="rol.id">
                    {{ rol.name }}
                </option>
            </select>
        </div>

        <!-- Botón -->
        <div class="mt-6">
            <button type="submit"
                class="w-full bg-green-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-green-600 focus:ring focus:border-green-400">
                {{ mode === 'create' ? 'Crear' : 'Actualizar' }}
            </button>
        </div>
    </form>
</div>
